.Layout > .Speedometer{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2;
    justify-self: center;
}

.Layout > .Knots{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 3;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
}

.Layout > .SpeedPointer{
    position: absolute;
    top: 125px;
    left: 103px;
    transform-origin: right center;
}

