#root {
  width: 800px;
  height: 480px;
  margin: 0 auto;
  text-align: center;
}

main{
  display: grid;
  grid-template-columns: 55px 1fr 15px 1fr 15px 1fr 55px;
  grid-template-rows: 13px 1fr 14px 1fr 13px;
}

section{
  width: 220px;
  height: 220px;
  border-radius: 5px;
  background-color: #161616;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.Speed{
  
  grid-column-start: 2;
  grid-row-start: 2;
}

.Depth{
  grid-column-start: 4;
  grid-row-start: 2;
}

.Solar{
  grid-column-start: 6;
  grid-row-start: 2;
}

.Wind{
  grid-column-start: 2;
  grid-row-start: 4;
}

.Heading{
  grid-column-start: 4;
  grid-row-start: 4;
}

.Settings{
  grid-column-start: 6;
  grid-row-start: 4;
}

.Layout{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 60px 60px 50px;
}

.TopLeft{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  display: flex;
  align-items: baseline;
  padding-left: 7px;
  padding-top: 3px
}

.TopLeft  > p{
  margin: 0;
  padding-right: 2px;
}

.TopLeft > h3{
  margin: 0;
}

.TopRight{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 1;
  display: flex;
  align-items: baseline;
  justify-content: end;
  padding-right: 7px;
  padding-top: 3px
}

.TopRight  > p{
  margin: 0;
  padding-right: 2px;
}

.TopRight > h3{
  margin: 0;
}

.Layout > .BottomLeft{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 4;
  display: flex;
  align-items: baseline;
  margin-left: 7px;
}

.Layout > .BottomLeft > p{
  padding-right: 2px;
}

.Layout > .BottomRight{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 4;
  display: flex;
  align-items: baseline;
  justify-content: end;
  margin-right: 5px;
}

.Layout > .BottomRight > p{
  padding-right: 2px;
}

.Layout > .Center{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Layout > .Center > .Baseline{
  display: flex;
  align-items: baseline;
}