.Layout > .DepthMeter{
    grid-column: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    justify-self: end;
    align-self: center;
    padding-right: 10px;
}

.Layout > .DepthMeterMeter{
    position: absolute;
    left: 470px;
    top: 27px;  
}