.Settings{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Button{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #FFF;
    margin: 5px;
    background-color: #161616;
    
}